<div class="shell-check-wrapper">

  <div class="shellgame-buttons">
    {{#if isGM}}
      <button id="shell-start" class="shellgame-btn start">Start</button>
    {{else}}
      <button id="shell-ready" class="shellgame-btn ready">Ready</button>
      <button id="shell-no" class="shellgame-btn no">Not Ready</button>
    {{/if}}
  </div>

  <ul class="shell-user-list">
    {{#each users}}
      <li>
        <strong>{{this.name}}:</strong>
        {{#if (eq this.status "ready")}}✔️
        {{else if (eq this.status "no")}}✖️
        {{else}}❔
        {{/if}}
      </li>
    {{/each}}
  </ul>

</div>
